/* ----- General Section ----- */
body {
	margin:0 auto 20px auto;
	width: 1280px;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
	color: #5D717E;
	background-image:url(../images/screen.jpg);
}
form {
    border: medium none;
    display: inline;
    margin-bottom: 0 !important;
}

#search
{
	float: right;
}

#search input {
    float: left;
}
/* ----- Overlay ------ */
.overlay {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 200;
	text-transform: uppercase;
	color: #000;
	background: url(../images/bg-cover.png);
}
.partial-home_region-overlay {
	width: 100%;
	height: 100%;
	background: white;
	position: absolute;
	top: 0;
	left: 0;
	opacity: .50;
	filter: alpha(opacity=50);
	z-index: 200;
}
.directionText {
	padding: 40px 0px;
	font-size: 12px;
	letter-spacing: 2px;
}
.coverlink {
	font-size: 24px;
	font-weight: bold;
	color: #000;
}
.overlay a {
	font-size: 24px;
	font-weight: bold;
	color: #000;
	text-decoration: none;
}
.overlay .region-selector {
padding: 225px 350px;
position: relative;
text-align: center;
margin: 0 auto;
width: 380px;

z-index: 201;
/*top: 200px;*/

}
/* ----- Header Section ----- */
#wrapper_index {
	margin:  0 auto;
	background: #fff;
	width: 1000px;
	padding: 25px 25px 30px;
}
#wrapper {
	margin:  0 auto;
	background: #fff;
	width: 1000px;
	padding: 25px 25px 30px;
}
#checkout{
	margin:  0 auto;
	background: #fff;
	width: 1000px;
	padding: 25px 25px 30px; 
}
#aboutus{
	margin:  0 auto;
	background: #fff;
	width: 1000px;
	height: 705px;
	padding: 25px 25px 30px; 
}
#breadcrumbs {
	clear: both;
	text-transform: uppercase;
	margin: 10px 0;
	color: #000;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
}
#breadcrumbs li {
	display: inline;
	border-right: 1px solid #959595;
	padding-right: 7px;
}
#breadcrumbs li.current {
	display: inline;
	border-right: none;
	padding-right: 7px;
}
#breadcrumbs a {
	color: #959595;
	text-decoration: none;
}
#header {
	height: 60px;
}
#header .logo {
	float: left;
}
#header .right {
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	width: 500px;
}
#member ul li{
	display: inline;
}
#member .line {
	border-right: 1px solid #D0D2D3;
	padding-right:  2px;
}
#member 
{
	margin: 0 10px 0 0;
	float: left;
}
td .center {
	vertical-align: bottom;
}
#member a {
	color: #D0D2D3;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0 5px;
}
#member a:hover {
	color: #000;
}
#space {
	padding: 11px 0;
}
#header form {
	border: none;
	margin-bottom: 0!important;
	display: inline
}
#header label {
	margin: 0;
	float: none
}
#search input[type=submit] {
	width: 70px;
	height: 21px;
	text-transform: uppercase;
	margin-right: -9px;
	text-align: center;
	padding: 0px 8px 0 0;
	font-size: 13px;
	color: white;
	background: #D1D2D4;
	border: 0px solid #D1D2D4;
	cursor:pointer;
}
#search input.search_query {
	width: 145px;
	height: 16px;
	text-align: right;
	border: 1px solid #D1D2D4;
	color: #D1D2D4;
	padding: 1px 10px 2px 10px;
	/*font-size: 11px;*/
}
#language 
{
	float: right;
	padding-top: 10px;
	font-size: 12px;
	text-transform: uppercase;
	text-decoration: none;
	color: #D1D2D4;
	font-family: Arial, Helvetica, sans-serif;
}
#language ul, #language li {
	display: inline;
}
#language li {
	padding: 3px 2px;
	color: #fff;
}
#language li.first {
	margin-left: 15px;
} 
#language li.select {
	padding: 3px 2px;
	color: #fff;
	background: #000;
}
#language li a {
	padding: 3px 2px;
	color: #fff;
	background: #D0D2D3;
	text-decoration: none;
}
#language li a:hover {
	padding: 3px 2px;
	color: #fff;
	background: #000;
	text-decoration: none;
}
#language .guide a{
	font-weight: bold;
	text-decoration: none;
	color: #D0D2D3;
}
#language .guide a:hover{
	font-weight: bold;
	color: #000;
}
/* ----- Navigation Section ----- */
#nav {
	display: block;
	clear: both;
	margin-top: 15px;
	height: 5px;
}
.droplinetabs{
	float: left;
	overflow: hidden;
	border-bottom: 1px solid gray; /*underline across bottom of main tabs*/
	width: 738px;
}
.droplinetabs ul{
	font: bold 11px Verdana, sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
	list-style: none;
}
.droplinetabs li{
	display: inline;
	margin: 0 2px 0 0;
	padding: 0;
	text-transform: uppercase;
	font: 12px Arial, Helvetica, sans-serif;
}
.droplinetabs a{
	float: left;
	color: #000;
	background-color: #fff;
	margin: 0 25px 0 0;
	padding: 0;
	text-decoration: none;
	letter-spacing: 1px;
}
.droplinetabs a.last {
	margin: 0;
}
.droplinetabs a:link, .droplinetabs a::visited, .droplinetabs a:active{
	color: fff;
}
.droplinetabs a span{
	float: left;
	display: block;
	padding: 7px 9px 3px 6px;
	cursor: pointer;
}
.droplinetabs a span{
	float: none;
}
.droplinetabs a:hover{
	color: #000;
}
.droplinetabs a:hover span{
	background-color: transparent;
}
/* Sub level menus*/
.droplinetabs ul li ul{
	background: #000;
	position: absolute;
	z-index: 100;
	left: 0;
	top: 0;
	visibility: hidden;
}
/* Sub level menu links style */
.droplinetabs ul li ul li a{
	background: #000;
	color: #fff;
	font: normal 13px Verdana;
	padding: 6px;
	padding-right: 8px;
	margin: 0;
}
.droplinetabs ul li ul li a:hover{ /*sub menu links' background color onMouseover. Add rounded edges in capable browsers */
	color: #DDD;
}
#shopping_info {
	float: right;
	text-align: right;
	position: relative;
	text-transform: uppercase;
	font-family: Helvetica, sans-serif;
}
#shopping_info img {
	padding: 0 5px;
}
#shopping_info a {
	color: #000;
	text-decoration: none;
	font-weight: bold;
}

/* ----- Body Section ----- */
#section {
	margin: 10px 0 77px 0;
	height: 430px;;
}
#article {
		height: 410px;
	display: block;
	float: left;
	width: 74%;
	border: 0px solid #D1D2D4;
}
#aside {
	height: 410px;
	float: right;
	width: 25%;
	/*border: 1px solid #D1D2D4;*/
}
#aside li {
	border: 0px solid #D1D2D4;
	display: block;
	margin: 0 0 8px 0;
	height: 200px;
}
#aside img.center{
	display:block; 
	margin: auto;
}
/* ----- Footer Section ----- */
#footer {
	clear: both;
	margin:  0;
	padding-bottom: 5px;
}
#footer .payment_logo {
	float: left;
}
#footer .copyright {
	padding-top: 10px;
	float: right;
	color: #bbb;
}
/* ----- Promotion Section ----- */
#promotion {
}
#promotion .promo-head{
	background: url(../images/promo-bg.png);
	color: #fff;
	font-family: Helvetica, Sans-Serif;
	padding: 10px 20px;
	font-size: 25px;
}
#promotion .promo-footer{
	background: url(../images/promo-bg.png);
	margin: 5px;
	height: 5px;
}
