/* product-list.tpl */
#product_list_wrapper{
	margin: 10px auto;
	/*padding: 20px 0px 20px 38px; */
	border: 0px solid #d0d3d8; 
	display: block;
	width: auto;
	overflow: hidden;
}
#product_lists_wrapper{
	margin: 10px auto;
	/*padding: 20px 0px 20px 38px; */
	border: 0px solid #d0d3d8; 
	display: block;
	width: auto;
	overflow: hidden;
}
ul#product_list { list-style-type: none; margin: 20px 0px 20px 40px; }
ul#product_list li {
	/*background: #d0d3d8 url('../img/block_category_item_bg.jpg') repeat-x;*/
	border: solid 0px red;
	padding: 6px;
	width: 200px;
	/*min-height: 130px;*/
	height: 210px;
	/*clear: both;*/
	margin-bottom: 15px;
	margin-right: 4%;
	float: left;
	overflow: hidden;
}
ul#product_lists li {
	/*background: #d0d3d8 url('../img/block_category_item_bg.jpg') repeat-x;*/
	border: solid 0px red;
	padding: 6px;
	width: 100px;
	/*min-height: 130px;*/
	height: 80px;
	/*clear: both;*/
	margin-bottom: 15px;
	margin-right: 0px;
	float: right;
	overflow: hidden;
}


* html ul#product_list li {
	/*height: auto !important;
	height: 130px*/
}
ul#product_list li a {
	text-decoration: none;
	color: #374853
}
ul#product_list a.product_img_link {
	border: solid 0px #d0d3d8;
	display: block;
	width: 98%;
	height: 130px;
	margin: 0px auto;
	text-align: center;
	padding: 10px 0px;
	position: relative;
}
ul#product_list a.product_img_link img {  }
ul#product_list li h3 { /*margin: 0.4em 0*/ }
ul#product_list li .new {
	background: transparent url(../img/flag_new_bg.jpg) repeat-x scroll 0%;
	border: 1px solid #488C40;
	color: white;
	font-size: 0.6em;
	font-weight: bold;
	margin: 0 5px 0 0;
	padding: 0 0.4em;
	text-transform: uppercase;
	vertical-align: 0.3em
}
ul#product_list li p.product_desc {
	margin-bottom: 0;
	font-size: 0.92em
}
ul#product_list li div.center_block {
	width: 100%;
	height: 192px;
	overflow: hidden;
	display: block;
	border: 0px solid red;
}
ul#product_list li div.center_block h3{
	clear: both;
	font-weight: normal;
	font-size: 12px;
	display: block;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
	width: 98%;
	height: 12px;
	overflow: hidden;
}
ul#product_list li div.right_block {
	width: 100%;
	text-align: left;
	margin-left: 0px;
	margin-top: 0;
	border: 0px solid red;
}
ul#product_list li .discount, ul#product_list li .on_sale, ul#product_list li .online_only, ul#product_list li span.availability,
ul#product_list li span.product_new{
	color: #FFF;
	padding: 3px;
	background: url(../img/bg.png);
	font-size: 10px;
	text-transform: uppercase;
	font-weight: normal;
	display: block;
	position: absolute;
	bottom: 0px;
	right: 0px;
	border: 0px solid red;
}
ul#product_list li span.product_new{
	padding: 3px 8px;
}
ul#product_list li .on_sale, ul#product_list li .discount{
	bottom: 20px;
}
ul#product_list li .online_only {
	bottom: 40px;
}
ul#product_list li .reduction {
	display: block;
	margin-bottom: 0.3em
}
ul#product_list li span.availability{
	bottom:0px;
}
ul#product_list li .price {
	display: block;
	font-size: 12px;
	margin-bottom:2px;
	color:#999;
	font-weight: normal;
	border: 0px solid red;
}
ul#product_list li span.availability {
/*	color: #488c40;
	font-size: 0.9em
*/}
ul#product_list li a.button { margin-top: 0.5em }
ul#product_list li p.compare input { vertical-align: text-bottom }
