#category_content {
	color: #000;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, Sans-Serif;
}
#category_content {
	/*border: 1px solid #ddd;*/
	width:980px;
	padding: 20px;
	margin-bottom: 15px;
}
#category_content img {
	/*border: 1px solid #ddd;*/
	margin: 0 10px 0 0;
}
#category_content .product_name{
	display: block;
	padding: 10px 0 8px 0;
	border-bottom: 1px solid #ddd;
	width: 223px;
}
#category_content .price {
	color: #cacaca ;
	padding-top: 5px;
	margin-bottom: 20px;
}
#categoryNav {
	clear: both;
	margin: 5px auto;
	padding: 1px 0;
	display: block;
	text-align: center;
}
#categoryNav a {
	display:block;
	width:22px;
	height:22px;
	background:url(../images/bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:3px;
	float:left;
}
#categoryNav a.active {
	background-position:0 -22px;
}

#itemWrapper 
{
	margin:10px auto;
	min-height: 460px;
}
.item
{
	float: left;
	margin: 10px 32px 20px;
	width: 180px;
	height: 200px;
}
.itemPic
{

}
.itemProductName
{
	padding: 18px 0 8px 0;
	border-bottom: 1px solid #ddd;
}
.itemPrice
{
	color: #cacaca ;
	padding-top: 5px;
	margin-bottom: 20px;
}

.holder_wrap
{  
    position:relative;  
    margin:auto;  
    display:block;  
    height:120px; /* กำหนดความสูงส่วนพื้นที่คลุมเนื้อหาทั้งหมด */  
}  
.holder_wrap_img
{  
    position:absolute; /* กำหนดการจัดตำแหน่งส่วนพื้นที่คลุมเนื้อหารุปและข้อความซ้อนทับ */  
}  
.holder_wrap_img img
{  
    position:relative; /* กำหนดการจัดตำแหน่งของรูป */  
}  
/* css ซ้อนทับ ชิดขอบบน */  
.inner_position_top{  
    position:absolute;  
    display:block;   
    height:50px; /* กำหนดความสูงส่วนของเนื้อหาที่นำมาซ้อนทับ */  
    width:100%; /* กำหนดความกว้างของเนื้อหาที่นำมาซ้อนทับ แบบขยายเต็ม */  
    top:100px; /* css กำหนดชิดด้านบน  */  
    z-index:999;  
}  
/* css ซ้อนทับ ชิดขอบด้านซ้าย */  
.inner_position_left{  
    position:absolute;  
    display:block;    
    background-color:#99FFCC;     
    height:100%;/* กำหนดความสูงส่วนของเนื้อหาที่นำมาซ้อนทับ แบบขยายเต็ม */  
    width:50px; /* กำหนดความกว้างของเนื้อหาที่นำมาซ้อนทับ */  
    top:0px; /* css กำหนดชิดด้านบน  */  
    left:0px; /* css กำหนดชิดซ้าย  */  
    z-index:999;  
}  
/* css ซ้อนทับ ชิดขอบล่าง */  
.inner_position_bottom{  
    position:absolute;  
    display:block;    
    background-color:#FFCCCC;     
    height:50px; /* กำหนดความสูงส่วนของเนื้อหาที่นำมาซ้อนทับ */  
    width:100%; /* กำหนดความกว้างของเนื้อหาที่นำมาซ้อนทับ แบบขยายเต็ม */  
    bottom:0px; /* css กำหนดชิดด้านล่าง  */  
    z-index:999;      
}  
/* css ซ้อนทับ ชิดขอบด้านขวา */  
.inner_position_right
{  
    position:absolute;  
    display:block;      
    height:15%;/* กำหนดความสูงส่วนของเนื้อหาที่นำมาซ้อนทับ แบบขยายเต็ม */  
    width:50px; /* กำหนดความกว้างของเนื้อหาที่นำมาซ้อนทับ */  
    bottom:0px; /* css กำหนดชิดด้านบน  */  
    right:0px; /* css กำหนดชิดขวา  */  
    /*z-index:999;*/  
}  
