#title_head {
	clear: both;
	text-transform:uppercase;
	color: #000;
	font-size: 28px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	margin: 20px 0 40px 0;
	padding-bottom: 15px;
	border-bottom: 2px solid #000;
	margin-bottom: 10px;
}
form {
	margin: 5px 0;
}
p {
	padding-left: 0;
	margin: 0.5em 0;
	line-height: 14px;
}
h2 {
	font-size: 18px;
	margin: 20px 0 20px 0;
	font-weight: bold;
}
h3 {
	font-size: 16px;
	margin: 0.75em 0 0.3em 0;
	color: #374853;
}
h4 {
	font-size: 10px;
	font-weight: bold;
}
h5 {
	font-size: 11px;
	font-weight: bold;
}
b {
	font-weight: bold;
}
#content {
	display: block;
	margin: 0 auto;
	padding-top: 10px;
}
#content_billing {
	float: right;
	border-left: 1px solid #736f6e;
	padding-left: 27px;
	margin-bottom: 20px;
}
/* --- Left Colum ---*/
#leftcolum{
	float: left;
	width: 160px;
	min-height: 300px;
	margin: 0px 10px 10px 0px;
	background: url(../images/dashboard.jpg) no-repeat top left;
}
#leftcolum ul {
	margin: 170px 0px 0px 0px;
	padding: 0px;
}
#leftcolum li{
	margin-bottom: 4px;
	padding-bottom: 3px;
}
#leftcolum a {
	font-size: 14px;
	color: black;
	text-decoration: none;
	padding: 3px 5px;
}
#leftcolum a:hover{
	background: #000;
	color: #FFF;
}
#leftcolum a.active {
	background: black;
	color: white;
}
/* --- Center Colum ---*/
#centercolum {
	float: left;
	width: 365px;
	display: block;
	padding: 0px 0px 0px 20px;
	margin-bottom: 10px;
	border-left: 2px solid #CCC;
	color: #000;
}
#centercolum ul {
	list-style-type: square;
	margin-left: 10px;
}

/* --- Right Colum ---*/
#rightcolum{
	float: left;
	width: 350px;
	display: block;
	padding: 0px 0px 0px 58px;
}
#tblContact{
	text-align: left;
}
#tblContact td{
	border: none;
	text-align: left;
	padding-bottom: 5px;
}
#tblContact input, #tblContact #message{
	border: 1px solid #231f20;
}
#tblContact #email, #tblContact #country{
	width: 165px;
}
#tblContact #country{
	margin-left: 10px;
}
#tblContact #name, #tblContact #message, #tblContact #btnSend{
	width: 342px;
}
#tblContact #btnSend{
	background: #000;
	color: #fff;
}
#tblContact #btnSend:hover{
	background: #333;
}

#blockContact{
	margin-top: 20px;
}
#blockContact h2{
	border-bottom: 1px solid #000;
	padding-bottom: 5px;
	margin: 0px 0px 10px 0px;
	color:#000;
}

/* ----- Welcome Dashboard ----- */
/*
#dashboard{
	float: left;
	color: #000;
	width: 800px;
	min-height: 100px;
	margin: 0px 10px 10px 0px;
	padding: 110px 0 0 0;
	background: url(../images/welcome.jpg) no-repeat top left;
	height: 352px;
}
*/
#line
{
	border-bottom: 2px solid #CCC;
	width: 768px;
	display: block;
	padding: 0px 0px 0px 20px;
	margin-bottom: 10px;
}
#line2{
	border-bottom: 2px solid #CCC;
	float: left;
	width: 768px;
	display: block;
	padding: 20px 0px 0px 20px;
	margin-bottom: 10px;

}
/* ----- Billing Style ----- */
#billing {
	color: #000;
	height: 472px;
	width: 775px;
}
#billing table {
	margin-left: 30px;
	margin-top: 10px;
}
#billing tr {
	height: 30px;
}
#billing input[type=text] {
	border-top: 0px;
	border-right: 0px;
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
	padding: 3px 5px;
	width: 450px;
}
#form_button input[type=button] {
	border: 0px;
	background: black;
	color: white;
	cursor: pointer;
	padding: 4px 20px;
	width: 140px;
}
#form_button input[type=submit] {
	border: 0px;
	background: black;
	color: white;
	cursor: pointer;
	padding: 4px 20px;
	margin-left: 10px;
	width: 140px;
}
.styled-select select {
	background: #ddd;
	border: 0px;
	width: 460px; 
	height: 23px;
}
/* ----- Scrollbar Style ----- */
#scrollbar1 { 
	width: 790px; 
	margin: 0 0 10px; 
}
#scrollbar1 .viewport { 
	width: 775px; 
	height: 365px; 
	overflow: hidden; 
	position: relative; 
	float:left;
}
#scrollbar1 .overview { 
	list-style: none; 
	position: absolute; 
	left: 0; top: 0; 
	padding: 0; 
	margin: 0; }
#scrollbar1 .scrollbar { 
	background: #ddd; 
	position: relative; 
	background-position: 0 0; 
	float: right; 
	width: 3px; 
}
#scrollbar1 .track { 
	background: #ddd; 
	height: 100%; 
	width:3px; 
	position: relative; 
	padding: 0; 
}
#scrollbar1 .thumb { 
	background: transparent url(../images/bg-scrollbar-thumb-y.png) no-repeat 50% 100%; 
	height: 20px; 
	width: 15px; 
	cursor: pointer; 
	overflow: hidden; 
	position: absolute; 
	top: 0; 
	left: -5px; 
}
#scrollbar1 .thumb .end { 
	background: transparent url(../images/bg-scrollbar-thumb-y.png) no-repeat 50% 0; 
	overflow: hidden; 
	height: 5px; 
	width: 15px; 
}
#scrollbar1 .disable { 
	display: none; 
}
#table_notification {
	border: 0px;
	margin: 0 0 10px 0;
}
#table_notification .header{
	background: #000;
	color: #fff;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	height: 30px;
}
#table_notification .body
{
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	height: 140px;
	border-bottom: 2px solid #CCC;
}
#table_notification .bodyLast{
	border-bottom: none !important;
}
#table_notification .bg_line {
	background: url(../images/bg_line.png) no-repeat right;
	width: 2px;
}
#product_detail {
	text-align: left;
	padding-left: 20px;
	width: 150px;
}
#product_image {
	padding-left: 25px;
	text-align: right;
}
#product_image img{
	height: 80px;
	width: 100px;
}
/* ----- Coupon Content -----*/
#coupon_notics {
	color: #000;
}
#coupon_content {
	color: #000;
	height: 461px;
}
#coupon_content .header{
	background: #000;
	color: #fff;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	height: 30px;
}
#coupon_content .body{
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	height: 110px;
}
#coupon_content td {
	text-align: center;
	border-bottom: 1px solid  #ccc;
	border-style: dotted;
	padding: 5px 0;
	font-size: 12px;
	font-weight: bold;
}
#coupon_content tr.body {
	border-bottom: 1px solid #ccc;
}
/* ----- Order History Content -----*/
#order_history{
	float: left;
	color: #000;
	width: 760px;
	min-height: 100px;
	margin: 0px 10px 10px 0px;
	padding: 0;
}
#order_history {
	border: 0px;
	margin: 0 0 20px 10px;
	border-left:1px solid #736F6E;
	padding-left:27px;
}
#order_history .header{
	background: #000;
	color: #fff;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	height: 30px;
}
#order_history td{
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	border: 1px solid #ccc;
}
.body td{
	height: 110px;
}
#order_history .bg_line {
	background: url(../images/bg_line.png) no-repeat right;
	width: 2px;
}
#order_history .status{
	color: #08C;
}
#scrollbar_order { 
	width: 790px; 
	margin: 0 0 10px; 
}
#scrollbar_order .viewport { 
	width: 775px; 
	height: 460px; 
	overflow: hidden; 
	position: relative; 
}
#scrollbar_order .overview { 
	list-style: none; 
	position: absolute; 
	left: 0; top: 0; 
	padding: 0; 
	margin: 0; }
#scrollbar_order .scrollbar { 
	background: #ddd; 
	position: relative; 
	background-position: 0 0; 
	float: right; 
	width: 3px; 
}
#scrollbar_order .track { 
	background: #ddd; 
	height: 100%; 
	width:3px; 
	position: relative; 
	padding: 0; 
}
#scrollbar_order .thumb { 
	background: transparent url(../images/bg-scrollbar-thumb-y.png) no-repeat 50% 100%; 
	height: 20px; 
	width: 15px; 
	cursor: pointer; 
	overflow: hidden; 
	position: absolute; 
	top: 0; 
	left: -5px; 
}
#scrollbar_order .thumb .end { 
	background: transparent url(../images/bg-scrollbar-thumb-y.png) no-repeat 50% 0; 
	overflow: hidden; 
	height: 5px; 
	width: 15px; 
}
#scrollbar_order .disable { 
	display: none; 
}
/* ----- Wishlist Content -----*/
#withlist{
	float: left;
	color: #000;
	min-height: 100px;
	padding: 0;
}
#withlist {
	border-left: 1px solid #736f6e;
	margin: 0 0 20px 10px;
	padding-left: 27px;
}
#wl_button {
	float: right;
	padding-top: 20px;
}
#wl_button a{
	background: #000;
	padding: 5px 25px;
	margin-right:5px;
	color: #fff;
	text-decoration: none;
}
#tabble_withlist {
	width: 775px;
}
#tabble_withlist .header{
	background: #000;
	color: #fff;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	height: 30px;
	border: 1px solid #fff;
}
#tabble_withlist td{
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	padding-top: 5px;
}
textarea {
	width: 95%;
	height: 90%;
}
.tableline {
	border-bottom: 2px solid #ccc;
}
.tableline td{
	padding:10px 0;
}
.tableline tr{
	height: 20px;
}
.body td{
	height: 110px;
}
#tabble_withlist .bg_line {
	background: url(../images/bg_line.png) no-repeat right;
	width: 2px;
}
#tabble_withlist .status{
	color: #08C;
}
#comment {
}
#left{
	float: left;
}
#right {
	float: right;
}
#action td {
	height: 20px;
}
#action input[type=text]{
	width: 20px;
	padding: 5px;
	text-align:center;
	font-size: 14px;
}
#action .button{
	float: right;
	border: 1px solid #000;
	padding: 5px 5px;
	margin: 3px;
	background: #000;
	font-size: 12px;
	color: white;
	text-transform: uppercase;
	width: 120px;
}
#action .button:hover {
	color: #DDD;
	border: 1px solid #fff;
}
#qt_left {
	float: left;
}
#qt_right {
	float: right;
}
#checkbox {
	float: right;
}
#form_button {
	padding: 40px 0 28px 0;
	float: right;
}
#div1 {
	clear: both;
	position: relative;
	display: block;
	padding-top: 5px;
}