#product_content {
	display: block;
	width: 100%;
	height: 522px;
	margin: 0 auto;
	padding-top: 25px;
}
#productZoom {
	float: left;
	width: 480px;
}
#productDetail {
	float: right;
	width: 480px;
	color: #000;
	line-height: 16px;
	font-size: 12px;
}
#productDetail h1 {
	font-size: 12px;
	font-weight: bold;
}
#product_info {
	margin-top: 20px;
	clear: both;
}
#productDetail p {
	padding: 15px 0px;
}
#product_head {
	display: block;
}
#product_head .left {
	float: left;
	width: 355px;
}
#product_head .product_name {
	padding-top: 0px;
}
#product_head .right {
	float: right;
	width: 115px;
	padding-top: 40px;
}
#social li {
	display: inline;
	padding-left: 0px;
}
#product_line{
	border-bottom: 1px solid #ccc;
}
#product_id {
	color: #5D717E;
	font: 11px Arial, Helvetica, sans-serif;
	padding-bottom: 2px;
}
#product_price {
	clear: both;
}
#product_comment {
	font-style: italic;
}
#product_buy {
	margin-top: 10px;
}
#product_buy table {
	width: 100%;
}
#product_buy .right {
	float: right;
}
#product_like {
	margin-top: 20px;
}
#product_like .like_title {
	width: 100%;
	padding-bottom: 35px;
}
#product_like .backgroundText {
	float: right;
	background: #000;
	color: #fff;
	width: 151px;
	padding: 3px 5px;
	font-size:11px;
}
#product_like .img_prod{
	float: right;
	display:block;
}
#product_like li{
	display: inline;
}
a.wishlist_button{
	background: #fff url(../images/heart.png) 3px no-repeat;
	color: #000;
	border: 1px solid #000;
	text-decoration: none;
	padding: 2px 10px 2px 25px;
}
a.add_button{
	background: #000;
	color: #fff;
	border: 1px solid #000;
	text-decoration: none;
	padding: 2px 10px;
}
a.add_button:hover{
	background: #333;
	color: #fff;
	border: 1px solid #000;
	text-decoration: none;
	padding: 2px 10px;
}
a img,:link img,:visited img { border: none; }
table { border-collapse: collapse; border-spacing: 0; }
:focus { outline: none; }
p, blockquote, dd, dt{margin:0 0 8px 0;line-height:1.5em;}
fieldset {padding:0px;padding-left:7px;padding-right:7px;padding-bottom:7px;}
fieldset legend{margin-left:15px;padding-left:3px;padding-right:3px;color:#333;}
dl dd{margin:0px;}
dl dt{}

.clearfix:after{clear:both;content:".";display:block;font-size:0;height:0;line-height:0;visibility:hidden;}
.clearfix{display:block;zoom:1; }

ul#thumblist{display:block;}
ul#thumblist li{float:left;list-style:none;}
ul#thumblist li a{display:block;}
ul#thumblist li a.zoomThumbActive{}
.jqzoom{

		text-decoration:none;
		float:left;
	}

/* Tiny Scrollbar */
#scrollbar1 { width: 460px; padding-top: 20px;}
#scrollbar1 .viewport { width: 450px; height: 145px; overflow: hidden; position: relative; margin: 0;}
#scrollbar1 .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
#scrollbar1 .disable { display: none; }
#scrollbar1 .scrollbar { 
	background: #ddd; 
	position: relative; 
	background-position: 0 0; 
	float: right; 
	width: 3px; 
}
#scrollbar1 .track { 
	background: #ddd; 
	height: 100%; 
	width:3px; 
	position: relative; 
	padding: 0; 
}
#scrollbar1 .thumb { 
	background: transparent url(../images/bg-scrollbar-thumb-y.png) no-repeat 50% 100%; 
	height: 20px; 
	width: 15px; 
	cursor: pointer; 
	overflow: hidden; 
	position: absolute; 
	top: 0; 
	left: -5px; 
}
#scrollbar1 .thumb .end { 
	background: transparent url(../images/bg-scrollbar-thumb-y.png) no-repeat 50% 0; 
	overflow: hidden; 
	height: 5px; 
	width: 15px; 
}