#sc_title_head {
	clear: both;
	text-transform: uppercase;
	color: 
	black;
	font-size: 28px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	margin: 20px 0;
	padding-bottom: 15px;
	border-bottom: 2px solid black;
	width: 890px;
}
#sc_table_header {
	color: #fff;
	font-size: 12px;
}
#sc_table_header td{
	background: #000;
	text-align: center;
	padding: 5px 0;
}
#sc_table_header .shopping_icon {
	float: right;
	margin-top: -100px;
}
#sc_table_body {
	font-size: 12px;
	height: 300px;
	border-bottom: 1px solid #000;
	clear: both;
}
#sc_table_body .tl {
	text-align: left;
	padding-left: 20px;
}
#sc_table_body td{
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	color: #000;
	text-align: center;
	padding: 5px 0;
	height: 80px;
}
#sc_table_body input[type="button"] {
	border: 0px;
	background: #000;
	color: #fff;
	cursor: pointer;
	padding: 7px 10px;
}
/* Tiny Scrollbar */
#scrollbar1 { width: 1000px;}
#scrollbar1 .viewport { width: 985px; height: 300px; overflow: hidden; position: relative; margin: 0;}
#scrollbar1 .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
#scrollbar1 .disable { display: none; }
#scrollbar1 .scrollbar { 
	background: #ddd; 
	position: relative; 
	background-position: 0 0; 
	float: right; 
	width: 3px; 
}
#scrollbar1 .track { 
	background: #ddd; 
	height: 100%; 
	width:3px; 
	position: relative; 
	padding: 0; 
}
#scrollbar1 .thumb { 
	background: transparent url(../images/bg-scrollbar-thumb-y.png) no-repeat 50% 100%; 
	height: 20px; 
	width: 15px; 
	cursor: pointer; 
	overflow: hidden; 
	position: absolute; 
	top: 0; 
	left: -5px; 
}
#scrollbar1 .thumb .end { 
	background: transparent url(../images/bg-scrollbar-thumb-y.png) no-repeat 50% 0; 
	overflow: hidden; 
	height: 5px; 
	width: 15px; 
}
#sc_coupon {
	margin-top: 19px;
	color: #000;
	font-size: 12px;
	display: block;
}
#sc_coupon h3 {
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 5px;
}
#sc_coupon .right {
	float: right;
	width: 450px;
	text-align: right;
}
#sc_coupon .left {
	float: left;
	width: 450px;
}
#sc_coupon .applycode {
	margin: 10px 0px;
}
#sc_coupon input[type="text"] {
	width: 230px;
	border: 1px solid #000;
	padding: 3px 5px;
	margin-bottom: 10px;
}
#sc_coupon input[type="submit"] {
	border: 0px;
	background: #000;
	color: #fff;
	cursor: pointer;
	padding: 7px 20px;
}
#sc_coupon a {
	background: #000;
	color: #fff;
	padding: 7px 10px;
	text-decoration: none;
	font-size: 11px;
}
#sc_coupon .continue {
	margin-right: 10px;
}
#sc_coupon .total {
	margin: 17px 0;
	font-size: 18px;
	font-weight: bold;
}
#qt_left {
	float: left;
	padding-top: 5px;
	padding-left: 45px;
}
#qt_right {
	float: right;
	padding-right: 30px;
}
#sc_space {
	clear: both;
	padding: 5px 0;
}